[user]
	name = txthinking
	email = cloud@txthinking.com
[core]
	editor = vim
	pager = less -r
[color]
	ui = true
[merge]
	tool = vimdiff
[github]
	user = cloud@txthinking.com
[http]
    proxy = socks5://127.0.0.1:1080
    postBuffer = 104857600
[https]
    proxy = socks5://127.0.0.1:1080
    postBuffer = 104857600
