[Unit]
Description=Brook is a cross-platform(Linux/MacOS/Windows/Android/iOS) proxy software

[Service]
LimitCORE=infinity
LimitNOFILE=65536
LimitNPROC=65530
LimitSTACK=25600
EnvironmentFile=/etc/default/brook
ExecStart=/usr/bin/brook $OPTIONS
KillMode=control-group
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
